<p-toast></p-toast>

<div class="container">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>Novo Paciente</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="nome" [(ngModel)]="paciente.nome" #nome="ngModel" required minlength="8">
                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 8 caracteres</div>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Sexo</label>
                <input pInputText type="text" name="sexo" [(ngModel)]="paciente.sexo" #nome="ngModel" required minlength="8">
                <div *ngIf="nome.hasError('required') && nome.touched">Informe um sexo</div>
                <div *ngIf="nome.hasError('minlength')">O sexo deve ter no mínimo 8 caracteres</div>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Medicamento</label>
              <p-dropdown [options]="medicamentos"
                [(ngModel)]="paciente.medicamento.id"
                name="medicamento" [filter]="true">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Medico</label>
              <p-dropdown [options]="medicos"
                [(ngModel)]="paciente.medico.id"
                name="medico" [filter]="true">
              </p-dropdown>
            </div>

            <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
              <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/pacientes"></button>
            </div>
        </div>
    </form>

</div>

